mat-card {
    margin: 16px;
  }
  
.equipment-container {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .equipment-table {
    width: 100%;
  }
}

::ng-deep :host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.equipment-wrapper {
  max-width: 100%;
  background-color: var(--white);
  border-radius: 25px;
  padding: 25px 35px;
  margin: 0 25px;
  box-sizing: border-box;
  box-shadow: var(--shadow-sm);
}

.equipment-title {
  font-size: 1.8rem;
  color: var(--gray-15);
  margin: 0 0 25px 0;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.02em;
}

.equipment-divider {
  border: none;
  height: 1px;
  background-color: var(--gray-10);
  margin: 0 0 20px 0;
}

.equipment-container {
  width: 96%;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.equipment-table {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  overflow-x: auto;
}

th.mat-mdc-header-cell {
  font-weight: 700;
  font-size: 16px;
  color: var(--blue-10);
}

@media screen and (max-width: 768px) {
  .equipment-wrapper {
    padding: 15px 20px;
    margin: 0 15px;
  }

  .equipment-title {
    font-size: 1.5rem;
  }

  .equipment-container {
    width: 100%;
  }

  .equipment-table {
    min-width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .equipment-wrapper {
    padding: 10px 15px;
    margin: 0 10px;
  }

  .equipment-title {
    font-size: 1.2rem;
  }

  .equipment-container {
    width: 100%;
  }

  .equipment-table {
    min-width: 500px;
  }
}
  