mat-card {
    margin: 16px;
  }
  
.equipment-container {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .equipment-table {
    width: 100%;
  }
}
  